@page "/"
@using BettingTournament.Components.Chat

<PageTitle>Zakladowi Kozacy</PageTitle>

<h1>Witaj!</h1>

<AuthorizeView>
    <MudContainer Class="pa-0" Style="height:75vh; width: 75%">
        <Chat />
    </MudContainer>
</AuthorizeView>
