@page "/"
@using BettingTournament.Components.Chat

<PageTitle>Zakladowi Kozacy</PageTitle>

<h1>Witaj!</h1>

<AuthorizeView>
    <MudContainer Class="pa-0">
        <MudPaper Class="ma-auto pa-5" Elevation="5" Width="75%">
            <MudText>
                Witamy na naszej stronie typerów Euro 2024! Cieszymy się, że dołączyłeś do naszej społeczności pasjonatów piłki nożnej. Życzymy Ci powodzenia w typowaniu wyników i emocjonujących momentów podczas mistrzostw. Pamiętaj, że bukmacherka może być wciągająca i bardzo łatwo przejebać na pewniaczkach połowe pensji, przede wszystkim traktuj ją jako świetną zabawę. Niech wygrają najlepsi! AUUUU !
            </MudText>
        </MudPaper>
        <MudContainer Class="pa-0" Style="max-height:75vh; width: 75%">
            <Chat />
        </MudContainer>
        <MudImage Class="rounded-lg" Style="display:block;margin-left:auto;margin-right:auto;" Src="euro-schedule.jpg"></MudImage>
    </MudContainer>
</AuthorizeView>
