@using BettingTournament.Core.Models
<MudDialog>
    <DialogContent>
        <ArchivedBets Bets="Bets"/>
    </DialogContent>
    <DialogActions>
        @*<Button OnClick="Cancel">Cancel</Button>*@
    </DialogActions>
</MudDialog>
@code {
    [Parameter]
    public IReadOnlyCollection<ArchivedBet> Bets { get; set; } = [];
}