@using BettingTournament.Components.Common
@using BettingTournament.Core
@using BettingTournament.Core.Services
@using BettingTournament.ViewModels
@inject RoundService RoundService

<MudDialog>
    <DialogContent>
        <BetForm @bind-Bet="_betViewModel" />
    </DialogContent>
    <DialogActions>
        <Button OnClick="Cancel">Cancel</Button>
        <Button OnClick="Submit">Bet</Button>
    </DialogActions>
</MudDialog>
@code {
    private BetViewModel _betViewModel = new();

    [Parameter]
    public Bet Bet { get; set; } = default!;

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    private void Submit()
    {
        RoundService.UpdateBet(Bet.Id, _betViewModel.HomeScore, _betViewModel.AwayScore);

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}