@using BettingTournament.Components.Common
@using BettingTournament.Components.Score
@using BettingTournament.Core
@using BettingTournament.Core.Models
@using BettingTournament.Core.Services
@using BettingTournament.ViewModels
@inject GameService RoundService

<MudDialog>
    <DialogContent>
        <ScoreForm @bind-Score="_scoreViewModel" />
    </DialogContent>
    <DialogActions>
        <Button OnClick="Cancel">Cancel</Button>
        <Button OnClick="Submit">Set Result</Button>
    </DialogActions>
</MudDialog>
@code {
    private ScoreViewModel _scoreViewModel = default!;

    [Parameter]
    public ActiveGame Game { get; set; } = default!;

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _scoreViewModel = new ScoreViewModel()
        {
            HomeTeam = Game.HomeTeam,
            AwayTeam = Game.AwayTeam,
            HomeTeamScore = Game.HomeTeamScore,
            AwayTeamScore = Game.AwayTeamScore,
        };
    }

    private void Submit()
    {
        RoundService.UpdateGame(Game.Id, _scoreViewModel.HomeTeamScore, _scoreViewModel.AwayTeamScore);

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}