@using BettingTournament.Components.Common
@using BettingTournament.Core
@using BettingTournament.Core.Services
@inject RoundService RoundService

<MudDialog>
    <DialogContent>
        <GameForm @bind-Game="Game"/>
    </DialogContent>
    <DialogActions>
        <Button OnClick="Cancel">Cancel</Button>
        <Button OnClick="Submit">Update</Button>
    </DialogActions>
</MudDialog>
@code {
    [Parameter]
    public Game Game { get; set; } = default!;

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    private void Submit()
    {
        RoundService.UpdateGame(Game.Id, Game.HomeTeam, Game.AwayTeam, Game.DateTimeUTC);

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}